vrrp_instance VI_{{ keepalived_vrid }} {
    state {{ keepalived_state }}
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_vrid }}
    priority {{ keepalived_priority }}
    advert_int 1
    nopreempt
    authentication {
        auth_type AH
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ keepalived_virtual_ip }}
    }
}
